# vim: set ft=yaml :
#
# This file serves as a development representation of what GoodForPoc looks
# like.
#
---
version: '3.1'
services:
  psql:
    image: postgres:alpine
    hostname: data
    environment:
      - 'POSTGRES_USER=g4poc'
      - 'POSTGRES_PASSWORD=*(g4p0c_'
    volumes:
      - 'api_data:/var/lib/postgresql'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 60s
      timeout: 10s
      retries: 3
  redis:
    image: redis:alpine
  mock_graphql_api:
    build: ./mock-api
    hostname: mock_graphql
    command: serve-foreground
    environment:
      - 'DEBUG="*"'
  api:
    build: .
    environment:
      - 'PORT=9292'
      - 'RACK_ENV=development'
      - 'BUNDLE_CACHE=/app/vendor/cache'
      - 'DATABASE_URL=postgres://g4poc:*(g4p0c_@psql:5432/g4poc'
      - 'APP_DIR=/app'
      - 'MOCK_GRAPHQL_SERVER_HOST=http://mock_graphql_api:3000'
    depends_on:
      - psql
    links:
      - psql
      - mock_graphql_api
    ports:
      - '${PORT-9292}:9292'
    volumes:
      - '.:/app'
      - 'api_vendor:/app/vendor'
volumes:
  api_data:
  api_vendor:
